.product-item-count {
    margin: 20px 0px;
}

.product-item-count > * {
    margin-right: 20px;
}

.product-item-count > button:last-child {
    margin-right: 0px;
}

.product-item-count > button {
    width: 40px;
    height: 40px;
    background-color: #333b3f;
    color: #dddddd;
    border: none;
}

.product-item-count > button:disabled {
    opacity: 0.8;
}
